<?xml version="1.0"?>
<!--
Copyright 2008 Olivier COUPELON
Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License.
You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and limitations under the License.
 -->
<config>
    <browser>firefox "%b"</browser>

    <proxy-address></proxy-address>
    <proxy-port>0</proxy-port>
    <proxy-type>HTTP</proxy-type>
    
    <category name="English">
        <engine name="alltheweb"/>
        <engine name="dmoz"/>
        <engine name="dogpile"/>
        <engine name="livesearch"/>
        <engine name="yahoo"/>
    </category>
    <category name="French">
        <engine name="allthewebfr"/>
        <engine name="livesearchfr"/>
        <engine name="voilafr"/>
        <engine name="yahoofr"/>
    </category>
    <category name="Files">
        <engine name="filemirrors"/>
        <engine name="filesearching"/>
        <engine name="fileslt"/>
        
        <engine name="ftpindexer"/><engine name="filewatcher"/>
        <engine name="napalm"/>
        <engine name="yahoofiles"/>
    </category>
    <category name="Images">
	<engine name="yahooimg"/>
    </category>
    <category name="IRC">
	<engine name="packetnews"/>
    </category>
    <category name="Video">
	<engine name="yahoovideo"/>
    </category>
    <category name="Agence">
	<engine name="fnaim"/>
    </category>
<timeout>90</timeout><maxthread>20</maxthread></config>
